#!/bin/bash

# history configuraton
HISTCONTROL=ignoredups # do not store dupplicate commands in history
HISTSIZE=1000 # increase history size

# aliases
alias histogrep='history | grep'
alias reloud='relou'

# prompt
source refresh_prompt
